body {
  /* text-align: center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A5ACAF;
}

.navButton {
  float: left;
  cursor: pointer;
  background-color: #A5ACAF;
  border-style: none;
  font-size: 1em;
}

.navButton {
  display: block;
  color: #002244;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navButton:hover {
  background-color: #69BE28;
}

.navButton:focus,
.navButton:active {
  background-color: #69BE28;
}

button {
  outline: none;
}

img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.eventsList {
  float: left;
  width: 48%;
  /* display: grid; */
  /* grid-template-columns: auto auto auto auto; */
  margin-left: 25px;
  overflow-y: auto;
  max-height: 750px;
  border: 1px solid black;
  background-color: #A5ACAFd8;
}

.eventFavs {
  float: right;
  width: 651px;
  text-align: center;
  border: 2px solid black;
  margin-right: 15px;
  margin-left: 25px;
  background-color: #A5ACAFd8;
  /* position: fixed;
  left: 50%;
  bottom: 1%; */
}

.sportsList {
  border: 2px solid black;
  margin: 0 30% 0 30%;
}

.attractionsList {
  border: 2px solid black;
  margin: 0 30% 0 30%;
}

.comedyList {
  border: 2px solid black;
  margin: 0 30% 0 30%;
}

h1 {
  color: #A5ACAF;
  font-size: 3em;
}

h3 {
  color: #A5ACAF;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
